<body>
<main>
<%= render 'books/book',books:@books,user:@user,book:@newbook %>


　　<h2>Book detail</h2>
　   <table class = "table" >
 　　　　 <thead>
   　    <th>image</th>
    　　<th>title</th>
    　　<th>body</th>
       </thead>
  <tbody>
    <tr>
      <td>
       <%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %><br>
       <%= link_to @user.name,user_path(@user.id) %>
      </td>
      <td><%= link_to @book.title,book_path(@book.id) %></td>
      <td><%= @book.body %></td>

      <td id="favorite_buttons_<%= @book.id %>">
        <%= render 'favorites/favorite', book: @book %>
      </td>

      <td>:コメント件数<%= @book.book_comments.count %></td>

      <% if @book.user.id == current_user.id %>
         <td><%= link_to "Edit",edit_book_path(@book.id),class: "button is btn btn-success" %></td>
         <td><%= link_to "Destroy", book_path(@book.id),class: "btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %></td>
      <% end %>



      <table class="book_comments">
        <%= render 'book_comments/table', book: @book %>
      </table>

      <%= form_with model:[@book,@book_comment] do |book| %>
        <%= book.text_area :comment, size:"90x5" %>
        <%= book.submit '送信'%>
      <% end %>

    </tr>
  </tbody>

</body>
